[net]
# Testing
batch=1
subdivisions=1
# Training
# batch=64
# subdivisions=2
width=208
height=208
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

#0
[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

#1
[maxpool]
size=2
stride=2

#2
[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

#3
[maxpool]
size=2
stride=2

#4
[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=1
activation=leaky

#5
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#6
[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=1
activation=leaky

#7
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#8
[maxpool]
size=2
stride=2

#9
[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=leaky

#10
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#11
[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=leaky

#12
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#13
[maxpool]
size=2
stride=2

#14
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

#15
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#16
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

#17
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#18
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#19
[convolutional]
filters=1000
size=1
stride=1
pad=1
activation=linear

###########

#20
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#21
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#22
[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear



#23
[yolo]
mask = 3,4,5
anchors = 10,14,  23,27,  37,58,  81,82,  135,169,  344,319
classes=80
num=6
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

#24
[route]
layers = -4

#25
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#26
[upsample]
stride=2

#27
[route]
layers = -1, 12

#28
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#29
[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear

#30
[yolo]
mask = 1,2,3
anchors = 10,14,  23,27,  37,58,  81,82,  135,169,  344,319
classes=80
num=6
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1
